html {
  box-sizing: border-box;
}
.light-theme{
    color: #000;
  background-color: rgb(238, 238, 239, 1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darck-theme{
  color:#fff;
  background-color: #1a1919;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body {
  font-family: "Cabin", sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: rgb(238, 238, 239, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: rgba(31, 31, 31, 1);
}
