.footer {
  background-color: rgba(76, 57, 78, 1);
  padding: 32px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dsc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
}
